* {
	margin: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;500&&display=swap');

section {
	margin: 0px 100px 100px 100px;
}

/* heder section  */
header {
	width: 100vw;
	height: 100vh;
	background-image: url(./images/donation1.jpg);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	margin-bottom: 100px;
	/* background-blend-mode:; */
}
.heder-title {
	font-size: 60px;
	text-align: center;
}
.header-desc {
	text-align: center;
	margin: 20px 0;
	width: 600px;
	font-size: 20px;
}
.primary-button {
	padding: 20px;
	color: white;
	background-color: #ff5959;
	font-size: medium;
	border: 0;
	border-radius: 4px;
}

/* donate-today section  */
.donate-today {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.box {
	display: flex;
	justify-content: space-around;
}
.today-desc,.update-desc {
	text-align: center;
	margin: 20px 0;
	width: 600px;
	color: #616161;
	font-size: 25px;
}
.section-title,.contant-title ,.update-title{
	font-size: 40px;
}
.contant-title,.update-title{
	margin-bottom: 20px;
}
.box-ammount {
	padding: 20px 30px;
	border-radius: 5px;
	column-gap: 10px;
	font-size: 25px;
	margin: 5px;
	display: flex;
	color: #616161;
	justify-content: center;
	align-items: center;
}

.box-ammount-2 {
	padding: 20px 30px;
	border: 2px hsl(0, 100%, 67%) solid;
	border-radius: 5px;
	background-color: #ff59591f;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ff5959;
	font-size: 25px;
}

.footer-title {
	margin: 15px 0;
	color: #616161;
	font-size: medium;
}

hr {
	height: 2px;
	width: 600px;
	margin: 20px 0;
}

/* plan  section css  */
.plan {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
.section-desc {
	text-align: center;
	margin: 20px 0;
	width: 600px;
	color: #616161;
	font-size: 25px;
}
.plan-desc {
	text-align: center;
	margin: 20px 0;
	color: #616161;
	font-size: 25px;
}
.plan-container {
	background-color: rgb(191, 185, 185);
	padding: 30px 10px;
}

.plan-items {
	display: flex;
	justify-content: space-around;
	gap: 10px;
}
.plan-title {
	font-size: 25px;
	margin-top: 10px;
}

.family {
	background-color: rgb(255, 159, 159);
}

.education {
	background-color: rgb(255, 237, 120);
}

/* work container section  */

.contant-container-1,
.contant-container-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	padding: 100px;
}
.contant-container-1 img {
	width: 100%;
}

.contant-container-1 div,
.contant-container-2 div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contant-container-2 img {
	width: 100%;
	height: 100%;
}
.top{
	margin-top: 20px;
}
/* update section  */

.update{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.subscribe-area{
	display: flex;
	margin: 40px 60px;
	background-color: rgb(252, 244, 196);
	padding: 80px;
	justify-content: center;
	align-items: center;
}
input,.subscribe{
	height: 60px;
	margin: 0;
	border: 0;

}
input{
	width: 400px;
	border-radius: 5px;
	background-color: rgb(184, 184, 184);
	padding-left: 10px;
}
.subscribe{
	background-color:#ff5959;
	padding: 0 20px;
	display: flex;
	justify-content: center;align-items: center;
	border-radius: 5px;
	color: white;
}
footer{
	 background: #0B0D17;
	display: flex;
	color:aliceblue;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 0;
}
.f-title{
font-size: 36px;
color: #ff5959;
font-family: Lobster;

}
